.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 6%;
  background-color: #ffffff;
}

.header-text h2 {
  font-weight: bold;
  font-size: 18 px;
  color: #000;
  margin-top: 10px;
}

.header-text p {
  margin: 0;
  font-size: 16px;
  color: #333;
  max-width: 75%;
}

.header-button .add-contact-button {
  padding: 10px 20px;
  background-color: #b200ff;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.header-button .add-contact-button:hover {
  background-color: #a000cc;
}
