<div class="view-toggle">
  <img
    src="grid-icon.svg"
    title="Click for Grid View"
    alt="Grid View Icon"
    (click)="setView('grid')"
    class="grid-icon"
    [class.disabled]="currentView === 'grid'"
  />
  <img
    src="list-icon.svg"
    title="Click for List View"
    alt="List View Icon"
    (click)="setView('list')"
    class="list-icon"
    [class.disabled]="currentView === 'list'"
  />
</div>

@if (currentView == 'grid') {
  <app-grid-view [contacts]="contacts" (contactDeleted)="fetchContacts()" (editContact)="openModalForEdit($event)"></app-grid-view>
}
@if (currentView == 'list') {
  <app-list-view [contacts]="contacts"></app-list-view>
}
@if (isModalOpen == true) {
  <app-new-contact [contactToEdit]="contactToEdit" (cancel)="closeModalAndRefresh()"   (contactAdded)="closeModalAndRefresh()"></app-new-contact>
}
<!-- <app-grid-view *ngIf="currentView === 'grid'" [contacts]="contacts" (contactDeleted)="fetchContacts()"></app-grid-view>
<app-list-view *ngIf="currentView === 'list'" [contacts]="contacts"></app-list-view> -->

<!-- <app-new-contact *ngIf="isModalOpen" (cancel)="closeModalAndRefresh()"   (contactAdded)="closeModalAndRefresh()"></app-new-contact> -->
