<div class="modal">
  <div class="modal-content">
    <h2>Add New Contact</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name"/>
        @if (isFieldInvalid('name')) {
          <p class="control-error">Please enter a name</p>
        }
      </div>

      <div class="form-group">
        <label for="phone">Contact Number</label>
        <input type="text" id="phone" formControlName="contactNumber"/>
        @if (isFieldInvalid('contactNumber')) {
          <p class="control-error">
            @if (contactForm.controls.contactNumber.errors?.['required']) {
              Please enter a contact number
            }
            @if (contactForm.controls.contactNumber.errors?.['pattern']) {
              Contact Number must be exactly 11 digits
            }
          </p>
        }
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email"/>
        @if (isFieldInvalid('email')) {
          <p class="control-error">
            @if (contactForm.controls.email.errors?.['required']) {
              Please enter an Email address
            }
            @if (contactForm.controls.email.errors?.['email']) {
              Please enter a valid Email address
            }
          </p>
        }
      </div>

      <div class="modal-actions">
        <button type="button" (click)="cancelModal()">Cancel</button>
        <button type="submit" [disabled]="contactForm.invalid">Save Changes</button>
      </div>
    </form>
  </div>
</div>
